.on{
    width: 500px;
    margin: 50px auto;
    border: 1px solid black;
    text-align: center;
    background-color: beige;
}
.on h2{
    position: relative;
}

.on li{
    counter-increment: number 1;
    margin:10px 0;
    display: flex;
    justify-content: space-around;
}

.list{
    width: 500px;
    margin: 100px auto;
    padding-bottom: 100px;
    border: 1px solid black;
    display: none;
    background-color: pink;
    text-align: center;
}
.list h2{
    /* position: relative; */
}

.list form input{
    margin: 20px 0 0 0;
    width: 200px;
    height: 30px;
}
body a{
    position: absolute;
    right: 38%;
    top: 7%;
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    text-decoration: none;
    z-index: 10;

}
.list.active{
    display: block;
}